* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(250, 255, 240);
    color: #333;
    padding: 20px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h3, h5 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
    color: #555;
}

h5 {
    font-size: 15px;
    margin: 10px 0px;
}

p {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #171d73;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* grid */
    gap: 20px;
    padding: 20px;
}

.gallery-container-alt {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* grid */
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px; 
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    filter: drop-shadow(10px 10px 10px  rgba(0, 0, 0, 0.5));

    transition: transform 0.3s ease-in-out;

    width: 100%;

    margin: 0;
}

/* .gallery-item img {
    width: 700px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
} */

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item-caption {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    text-align: center;
    align-self: center;

    height: 30px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .gallery-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .gallery-container {
        grid-template-columns: 1fr;
    }
}

p {
    text-align: center;
}

img {
    max-width: 100%;
    margin: 10px 0;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
